.jumbotron {
    padding-top: 6rem;
    background-color: rgba(0, 255, 119, 0.5);
}
#projects {
    background-color:rgba(0, 255, 119, 0.25);
}

footer{
    background-color: rgb(7, 255, 123);
}
section{
    padding-top: 6rem;
}
